@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
}

html, body {
    font-size: 2px;
    margin: 0;
    scroll-behavior: smooth;
    display: grid;
    place-items: center;
    background-color:  white;
    height: 100;
}

#welcome {
    background-color:  #2836be;
    padding: 1rem 10rem;
    font-size: 8rem;
    width: 160rem;
    max-width: 100%;
    margin: 0;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

nav {
    background-color: #4a67d0;
    padding: 0.5rem 10rem;
    font-size: 5rem;
    width: 100%;
    max-width: 160rem;
    height: fit-content;
    margin: 0;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    color: white;
    margin-bottom: 10rem;
}

#streaks {
    position: relative;
    margin-top: 30rem;
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 1.5%;
    bottom: 30rem;
}
#streak-head {
    text-align: center;
    background-color: #2836be;
    padding: 1rem 10rem;
    font-size: 8rem;
    width: 100%;
    height: fit-content;
    max-width: 160rem;
    margin-top: 2rem;
    position: absolute;
    right: 3.5rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    box-shadow: 5px 5px black;
    text-shadow: 0.7px 0.7px black;
    z-index: 4;
}

#streak-img {
    position: absolute;
    width: 100%;
    max-width: 180rem;
    margin-top: 15rem;
    right: 3.5rem;
    z-index: 0;
    box-shadow: 5px 5px black;
    z-index: 5;
}

#streak-bottom {
    text-align: center;
    background-color: #2836be;
    padding: 1rem 10rem;
    font-size: 6rem;
    width: 100%;
    height: fit-content;
    max-width: 160rem;
    margin-top: 107rem;
    position: absolute;
    right: 3.5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: 5px 5px black;
    text-shadow: 0.7px 0.7px black;
    z-index: 6;
}

#streak-tag {
    background-color: #2836be;
    position: absolute;
    font-size: 5rem;
    width: fit-content;
    padding: 2rem;
    bottom: 5.2rem;
    left: 0rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    z-index: 2;
    text-shadow: 0.7px 0.7px black;
    font-weight: bold;
    transition: all 0.5s ease;
}

#archive {
    position: relative;
    top: 110rem;
    color: white;
    width: 100%;
    margin-left: 2%;
    margin-right: auto;
    text-align: center;
}
#archive-head {
    text-align: center;
    background-color: #2836be;
    padding: 1rem 10rem;
    font-size: 8rem;
    width: 100%;
    height: fit-content;
    max-width: 160rem;
    margin-top: 2rem;
    position: absolute;
    right: 3.5rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    box-shadow: 5px 5px black;
    text-shadow: 0.7px 0.7px black;
    z-index: 4;
}

#access {
    text-align: center;
    background-color: #2836be;
    padding: 1rem 10rem;
    font-size: 6rem;
    width: 100%;
    height: fit-content;
    max-width: 160rem;
    margin-top: 15rem;
    position: absolute;
    right: 3.5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: 5px 5px black;
    text-shadow: 0.7px 0.7px black;
    z-index: 6;
}

#archive-tag {
    background-color: #2836be;
    position: absolute;
    font-size: 5rem;
    width: fit-content;
    padding: 2rem;
    bottom: 5.2rem;
    left: 0rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    z-index: 2;
    text-shadow: 0.7px 0.7px black;
    font-weight: bold;
    transition: all 0.5s ease;
}
@media (min-width: 320px) {
    html, body {
        font-size: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 2px;
        scroll-behavior: smooth;
        display: grid;
        place-items: center;
        background-color:  white;
        height: 100;
        scale: 0.90;
    }
    
    #streaks {
        position: relative;
        top: 15rem;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #archive {
        position: relative;
        top: 110rem;
        margin-top: 50rem;
        margin-left: 2%;
        margin-right: auto;
    }

    #welcome, nav{
        position: relative;
        top: 10rem;
    }
}
@media (min-width: 1024px) {
    html, body {
        font-size: 5px;
        margin: auto;
        font-size: 2px;
        margin: 0;
        scroll-behavior: smooth;
        display: grid;
        place-items: center;
        background-color:  white;
        height: 100;
        scale: 1.5;
        margin-left: 10%;
    }
    
    #streaks {
        position: relative;
        top: 30rem;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #archive {
        position: relative;
        top: 160rem;
        margin-top: 10rem;
        margin-left: 2%;
        margin-right: auto;
    }

    #welcome, nav{
        position: relative;
        top: 30rem;
    }
}

